Makefile whitespace=cr-at-eol
lib/sdk11/components/drivers_nrf/pstorage/pstorage_raw.c whitespace=cr-at-eol
lib/sdk11/components/libraries/bootloader_dfu/dfu_single_bank.c whitespace=cr-at-eol
lib/sdk11/components/libraries/bootloader_dfu/dfu_transport_ble.c whitespace=cr-at-eol
lib/sdk11/components/libraries/bootloader_dfu/dfu_transport_serial.c whitespace=cr-at-eol
lib/sdk/components/libraries/hci/hci_transport.c whitespace=cr-at-eol
lib/sdk11/components/libraries/bootloader_dfu/bootloader.c whitespace=cr-at-eol
linker/*.ld whitespace=cr-at-eol
src/dfu_init.c whitespace=cr-at-eol
src/dfu_ble_svc.c whitespace=cr-at-eol
src/usb/tusb_config.h whitespace=cr-at-eol
src/usb/usb_desc.c whitespace=cr-at-eol
